* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
	list-style: none;
	text-decoration: none;
}

body {
	background-color: #555555;
}

#header {
	background-image: url(../img/header-back.png);
	background-attachment: fixed;
	background-position: center;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-name: headerBackZoom;
	background-size: 100%;
	margin-bottom: 1000px;
}

@keyframes headerBackZoom {
	0% {
		background-size: 100%;
	}
	50% {
		background-size: 120%;
	}
	100% {
		background-size: 100%;
	}
}

.header-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding: 40px 0;
}

.header-bar-logo {
	display: flex;
	align-items: center;
	padding-left: 24px;
}

.header-bar-logo__text {
	font-size: 34px;
	font-weight: 300;
	color: #ffffff;
	margin-left: 2px;
	user-select: none;
}

.header-bar-nav {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.nav-list {
	display: flex;
}

.nav-list__item {
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	padding: 0 15.5px;
	transition: color 0.3s linear;
	cursor: pointer;
	user-select: none;
}

.nav-list__item:hover {
	color: #c7b299;
}

.header-bar-interactive-buttons {
	display: flex;
	margin-left: 20px;
	margin-right: 5px;
}

.header-but {
	border: none;
	width: 25px;
	height: 25px;
	margin-left: 25px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}

.header-but:focus {
	outline: none;
}

.buy-but {
	background-image: url(../img/buy-but.png);
}

.search-but {
	background-image: url(../img/search-but.png);
}

.header-slider {
	max-width: 1620px;
	margin: 0 auto;
	padding-top: 238px;
}

.slider-main-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.arrow {
	width: 40px;
	height: 75px;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}

.slider__text-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 600px;
}

.text-wrapper__upper-header {
	width: 100%;
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
}

.text-wrapper__main-header {
	width: 100%;
	font-size: 52px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	padding-top: 3px;
}

.text-wrapper__slide-description {
	width: 100%;
	font-size: 16px;
	text-align: center;
	line-height: 23px;
	color: #ffffff;
	margin-bottom: 48px;
	padding-top: 14px;
}

.big-annoying-button {
	width: 170px;
	height: 55px;
}

.slider__right-arrow {
transform: rotate(180deg);
}

.slider-pagination {
	padding-top: 100px;
}